/*style of the subcribe of newsletter part*/
.sub{
    display: flex;
    height: auto;
    width: 100%;
    padding: 10px 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.sub p{
    text-align: center;
}
.sub form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.sub input{
    font-size: 16px;
    margin: 20px;
    height: 50px;
    padding: 10px;
    width: 40%;
}
.sub #button{
    border: none;
    background-color: green;
    padding: 6px;
    height: fit-content;
    width: 120px;
    float: left;
    font-size: 16px;
    font-family: 'Noto Sans JP', sans-serif;
    color: white;
    transition: 0.3s;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
}
.sub #button:hover{
    background-color: #FFFFFF;
    border: 2px solid #008000;
    color: #008000;
}

/* Style of the footer part */
*{
    box-sizing: border-box;
}
footer{
    background-color: #000;
    color: #ffffff;
    display: flex;
    height: auto;
}
.contact{
    width: 45%;
    padding: 20px;
    float: left;
    display: flex;
    flex-direction: column;
}
.contact >div{
    display: flex;
    flex-direction: row;
}
.contactInfo{
    width: fit-content;
}
.contactInfo h5{
    margin-top: 40px;
}
.button input{
    font-size: 14px;
    width: max-content;
    margin-top: 70%;
    margin-left: 10%;
    height: fit-content;
    padding: 10px;
    background-color: #008000;
    color: #FFFFFF;
    border-radius: 20px;
    border: 2px solid #008000;
    transition-duration: 0.3s;
}
.button input:hover{
    color: #008000;
    background-color: #FFFFFF;
    border: 2px solid #008000;
}
.contact:after{
    display: table;
    content: "";
    clear: both;
}
.sitemap{
    display: grid;
    width: 55%;
    padding: 20px;
    justify-items: end;
}
.sitemap a{
    text-decoration: none;
    color: #FFFFFF;
    margin-right: 20px;
    font-family: 'Blinker', sans-serif;
    font-size: 16px;
}
.fa{
    border-radius: 50%;
    font-size: 32px;
    background-color: #008000;
    color: #FFFFFF;
    width: 40px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
    padding: 10px;
    margin-top: 10px;
}
.fa:hover {
    background-color: #FFFFFF;
    color: #008000;
    border: 2px solid green;
}
.site{
    margin: 20px 10px 0px 0px;
    width: fit-content;
    height: fit-content;
}
.socialMedia{
    margin-right: 10px;
    width: fit-content;
    height: fit-content;
}
#readMoreNews{
    background-color: green;
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 20px;
    font-family: 'Noto Sans JP', sans-serif;
    transition: 0.3s;
    border-radius: 10px;
    position: absolute;
    bottom: 20px;
    right: 20px;
}
#readMoreNews:hover{
    background-color: #FFFFFF;
    color: green;
    border: 1px solid green;
    font-size: 20px;
}
